*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: #000;
  border: 5px solid #fff;
  position: relative;
  @media (max-width: 600px) {
    width: 300px;
    height: 300px;
  }
  @media (max-height: 500px) {
    width: 300px;
    height: 300px;
  }
  &::after {
    content: "";
    background-color: #fff;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    z-index: 11;
  }
  .number {
    --rotation: 0;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 2rem;
    font-family: sans-serif;
    padding: 11px;
    div {
      transform: rotate(var(--numposition));
    }
  }
  .number1 {
    --rotation: 30deg;
    div {
      --numposition: -30deg;
    }
  }
  .number2 {
    --rotation: 60deg;
    div {
      --numposition: -60deg;
    }
  }
  .number3 {
    --rotation: 90deg;
    div {
      --numposition: -90deg;
    }
  }
  .number4 {
    --rotation: 120deg;
    div {
      --numposition: -120deg;
    }
  }
  .number5 {
    --rotation: 150deg;
    div {
      --numposition: -150deg;
    }
  }
  .number6 {
    --rotation: 180deg;
    div {
      --numposition: -180deg;
    }
  }
  .number7 {
    --rotation: 210deg;
    div {
      --numposition: -210deg;
    }
  }
  .number8 {
    --rotation: 240deg;
    div {
      --numposition: -240deg;
    }
  }
  .number9 {
    --rotation: 270deg;
    div {
      --numposition: -270deg;
    }
  }
  .number10 {
    --rotation: 300deg;
    div {
      --numposition: -300deg;
    }
  }
  .number11 {
    --rotation: 330deg;
    div {
      --numposition: -330deg;
    }
  }
  .hand {
    --rotation: 0;
    position: absolute;
    background-color: #fff;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    border-radius: 10px 10px 0 0;
    z-index: 10;
    &.hour {
      width: 10px;
      height: 35%;
    }
    &.minute {
      width: 7px;
      height: 40%;
    }
    &.second {
      width: 3px;
      height: 45%;
      background-color: red;
    }
  }
}
